.footer{
    display:none;
}
@media only screen and (max-width:435px){
    .footer{
        height: 45px;
        display: flex;
        position: fixed;
        left:0;
        right:0;
        bottom: 0;
        background-color: white;
        z-index: 999;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        box-shadow: 30px 0 0 rgba(0, 0, 0, 0.424)
    }
    .footer-link{
        display:flex;
        flex-direction: column;
        font-size: 8px;
        justify-content: center;
        align-items: center;
        flex:1;
    }
    .footer img{
        height:18px;
        width:18px;
        margin:2px;
        object-fit:cover;
    }
    .footer-explore{
        border-radius: 15px;
        padding:1px;
        padding-bottom: 0px;
        background-color: rgb(213, 213, 213);
    }
    .footer-my-pic{
        border-radius: 9px;
        object-fit: cover;
    
    }

}