p{
    font-family: "Roboto", "Arial";
    margin-top: 0;
    margin-bottom: 0;
}

body{
    margin:0;
    background-color:rgb(247, 247, 247);
    padding-bottom: 3000px;
    padding-top: 55px;
    padding-left: 76px;
    font-family: "Roboto", "Arial";
}




@media only screen and (max-width: 830px){
    .youtube-apps-container,.upload-container{
        display: none;
    }
}
@media only screen and (max-width: 720px){
    .header-middle-section{
        margin-left: 40px;
    }
}
@media only screen and (max-width: 690px){
    .notifications-container{
        display:none;
    }
}
    
@media only screen and (max-width: 635px){
    .header-middle-section{
        margin-left: 15px;
        margin-right: 35px;
    }
    .header{
        align-items: left;
    }
    .youtube-logo{
        height: 20px;
        width: 31px;
        object-position: left;
        object-fit: cover;
    }
    .hamburger-menu{
        height: 24px;
        cursor: pointer;
    }
    .search-bar{
        width: 130px;
    }
    .search-button{
        width: 50px;
    }
    .header-right-section{
        visibility:collapse;
    }
    .my-channel-profile{
        visibility: visible;
    }
    .upload,.youtube-apps,.notifications{
            height: 0px;
            width: 0px;
    }
}
@media only screen and (max-width:475px){
    .header-middle-section{
        margin-right: 10px;
    }
}
@media only screen and (max-width:435px){
    
    .sidebar{
       visibility: hidden;
    }
    body{
        padding-left: 6px;
    }
    .my-channel-profile-container{
        display:none;
    }
}
@media only screen and (max-width: 375px){
    .voice-search-icon-button{
        visibility: hidden;
    }
}

