.loading{
    height: 36px;
    width: 36px;
    border-color: rgb(212, 48, 48);
    border-style: solid;
    border-width: 4px;
    border-radius: 3px;
    box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.142), 0 0 6px rgba(255, 0, 0, 0.142) ;
    position: absolute;
    bottom:50%;
    left:50%;
    top:initial;
    translate: -50% 0%;
    animation-duration: 4s;
    animation-name: loader-animation;
    animation-delay: 0.8s;
    animation-direction: normal;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;
    font-family: "Roboto", "Arial";
}
@keyframes loader-animation{
    0%{
        transform:rotateX(0) rotateY(0) rotateZ(0);
    }
    33%{
        transform:rotateX(180deg) rotateY(0) rotateZ(0);
    }
    67%{
        transform:rotateX(180deg) rotateY(180deg) rotateZ(0);
    }
    100%{
        transform:rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}
@media only screen and (max-width: 830px){
    .youtube-apps-container,.upload-container{
        display: none;
    }
}
@media only screen and (max-width: 720px){
    .header-middle-section{
        margin-left: 40px;
    }
}
@media only screen and (max-width: 690px){
    .notifications-container{
        display:none;
    }
}
    
@media only screen and (max-width: 635px){
    .header-middle-section{
        margin-left: 15px;
        margin-right: 35px;
    }
    .header{
        align-items: left;
    }
    .youtube-logo{
        height: 20px;
        width: 31px;
        object-position: left;
        object-fit: cover;
    }
    .hamburger-menu{
        height: 24px;
        cursor: pointer;
    }
    .search-bar{
        width: 130px;
    }
    .search-button{
        width: 50px;
    }
    .header-right-section{
        visibility:collapse;
    }
    .my-channel-profile{
        visibility: visible;
    }
    .upload,.youtube-apps,.notifications{
            height: 0px;
            width: 0px;
    }
}
@media only screen and (max-width:475px){
    .header-middle-section{
        margin-right: 10px;
    }
}
@media only screen and (max-width:435px){
    .my-channel-profile-container{
        display:none;
    }
}
@media only screen and (max-width: 375px){
    .voice-search-icon-button{
        visibility: hidden;
    }
}