.sidebar{
    width: 72px;
    position: fixed;
    left: 0;
    bottom: 0;
    top:54px;
    background-color: white;
    font-family: Roboto, Arial;
    font-size: 10px;
    z-index: 1001;
}
.sidebar img{
    height:24px;
    margin-bottom: 6px;
}
.sidebar-link{
    width:100%;
    height:75px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(238, 238, 238);
}